.topbar{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;
}
.topbar .topbar-img{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.topbar .topbar-img img{
    width: 54px;
    height: 54px;
    border-radius: 50%;

}